:root {
  --bg-color: #111111;
  --primary-color: #7d5fff;
  --title-color: #ffffff;
  --text-color: #9ca3af;
  --text-color-second: #999999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://raw.githubusercontent.com/AlfredoRecinos/assets/refs/heads/main/img/background-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Inter", sans-serif;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.bg-animated{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(-45deg, rgba(124, 95, 255, 0.514), #23233f, #151525f8, rgba(124, 95, 255, 0.514));
  background-size: 350% 350%;
  animation: 15s infinite gradient;
  z-index: -1;
}

.container {
  text-align: center;
  width: 90%;
  height: auto;
  max-width: 500px;
  background-color: #151525;
  border: 1.5px solid #252538;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  padding: 3rem 2rem;

}

.profile {
  margin-bottom: 2rem;
}


.logo img{
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem; 
  animation: 1s zoomIn ease-in ;
}

.username {
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

h3.txt-profile{
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

p.txt-other-roles{
  font-size: 1.1rem;
  color: var(--text-color-second);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--title-color);
  text-decoration: none;
  padding: 1rem;
  border-radius: 999px;
  font-weight: 500;
  transition: all 0.3s ease;

}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
  transform: translateY(-2px);
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.5;
  border-style: dashed;
  cursor: not-allowed;
}

svg.svg-fill {
  fill: currentColor;
}
svg.svg-stroke{
  stroke: #ffffff;
}



@media (max-width: 500px) {
  .logo {
    width: 80px;
    height: 80px;
  }
  .username {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 0.9rem;
  }
}


@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes gradient {
    0%,100% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }
}
